<launch>
    <arg name="namespace" default="robot0"/>
    <arg name="lidar_topic" default="lidar1"/>
    <node name="$(anon steering_control)" type="steering_node" pkg="lab_2_mover" output="screen" args="-n$(arg lidar_topic)">
        <env name="ROS_NAMESPACE" value="$(arg namespace)"/>
    </node>
</launch>
